{% extends "./default.html" %}
{% block content %} {% import "./public/adsPannel.html" as adsPannel %}

<div>
    <div class="about">
        <div class="banner" style="width: 100%; height: 65vh;">
            {% ads name="公司简介banner" %}
            {{adsPannel.slider(公司简介banner)}}
        </div>
        <div class=" mainbody main-container">
            <div class="title">
                <span>公司简介</span>
            </div>

            <div style="margin-top: 20px;">
                {% remote key='content',api="content/getContent",query='{"id": "EwZJFz-7Xz" }' %}
                {{content.comments | safe}}
            </div>

        </div>
    </div>
</div>
{% endblock %}


<script>
</script>