// 首页
.marginTop {
    // 首页
    overflow: hidden;
    .home {
        // swiper 
        

        .slider-box.banner {
            .swiper-container {
                .swiper-slide {
                    height: 100vh;
                    width: 100%;
                    background-repeat:no-repeat;
                    background-position:center;
                    background-size: cover;
                }

                .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
                    opacity: .1;
                }
                .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
                    opacity: .1;
                }

                &:hover {
                    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
                    opacity: 1;
                }
                .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
                    opacity: 1;
                }
                }
            }   
            .banner-info {
                position: absolute;
                top: 50%;
                left: 20%;
                transform: translateY(-70%);
                color: #FFFFFF;
                h3 {
                    font-size: 50px;
                }
                p  {
                    font-size: 40px;
                }
                button {
                    display: block;
                    width: 300px;
                    height: 52px;
                    font-size: 16px;
                    border: none;
                    color: #333333;
                    text-align: center;
                    background-color: #fff;
                    margin-top: 30px;

                }

            }
        }

        .title-container {
            text-align: center;
            margin: 80px auto 40px;

            h2 {
                font-size: $title1Size;
                font-weight: 400;
                display: inline-block;
            }

            h2::after {
                content: '';
                display: block;
                margin: 8px auto;
                width: 40%;
                border-bottom: 3px solid $accentColor;
            }
        }
        .news .swiper-slide .pic{position: relative;}
        .news .swiper-slide .pic::after{content: " "; width:100%; height:100%; background-color:rgba(0,0,0,.5); position:absolute; left:0; top:0; 
            -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
        .news .swiper-slide-active .pic::after{opacity: 0;}

        .news .swiper-slide .text1, .news .swiper-slide .text2{ position:absolute; bottom: -11%; left: 6.6%; width: 70%; background-color: #fff; padding: 3%; opacity: 0; visibility: hidden;
            -webkit-box-shadow: rgba(0,0,0,.1) 0 0 10px; -moz-box-shadow: rgba(0,0,0,.1) 0 0 10px; box-shadow: rgba(0,0,0,.1) 0 0 10px;
            -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;
            -webkit-transition-delay: .5s; -moz-transition-delay: .5s; -o-transition-delay: .5s; transition-delay: .5s;}
        .news .swiper-slide h3{ font-size: 1.5em; color: #333; }
        .news .swiper-slide-active .text1{opacity: 1; visibility:visible; background-color: rgba(255,255,255,.9);}
        .news .swiper-slide .text1 h3{ overflow: hidden; white-space: nowrap; text-overflow:ellipsis;  height: 1.5em;}

        .news .swiper-container .pagination, .news .swiper-container .swiper-button{position: absolute; bottom: 0; left: 0; width: 100%; bottom:-8%;}
        .news .swiper-container .swiper-pagination{width: 52.55%; margin: 0 auto; position: relative; text-align: right;}
        .news .swiper-container .pagination .swiper-pagination-bullet{width: 15px; height: 15px; background-color: rgba(0,0,0,1); margin: 0 0 0 1.5%;}
        .news .swiper-container .pagination .swiper-pagination-bullet-active{background-color: #44a8f2; }
        .news .swiper-container .swiper-button{height: 100%; bottom: 0; }
        .news .swiper-container .swiper-button-con{width: 52.55%; margin: 0 auto; position: relative; height: 100%;}
        .news .swiper-button-prev, .news .swiper-button-next{ width: 60px; height: 36px; background-color: rgba(0,0,0,.2); opacity: 0;
            -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
        .news .swiper-button-prev{
            // background-position: -240px -77px; 
            left: 15%;
            &::after {
                color: #fff;
                font-size: 30px;
            }
        }
        .news .swiper-button-next{
            // background-position: -320px -77px; 
            right: 15%;
             &::after {
                color: #fff;
                font-size: 30px;

            }
        }
        .news .swiper-container:hover .swiper-button-prev, .news .swiper-container:hover .swiper-button-next{ opacity: 1;}

        .news .swiper-slide-active:hover .text2, .news .swiper-slide-active:hover .text1{
            -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s;}
        .news .swiper-slide-active:hover .text2{opacity: 1; visibility:visible; bottom: -15%;}
        .news .swiper-slide-active:hover .text1{opacity: 0; bottom: -21%; visibility: hidden;}
        .news .swiper-container:hover .swiper-pagination{z-index: auto;}

        .news .swiper-slide .text2{ background-color: rgba(255,255,255,1); width: 380px; height: 97%; bottom: -25%;}
        .news .swiper-slide .text2 h3{margin: 8% 0; line-height: 1.5em; max-height: 3em; overflow: hidden; display: -webkit-box; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient: vertical; }
        .news .swiper-slide .text2 p{color: #555; font-size: 0.875em; line-height: 2em;  max-height: 10em; overflow: hidden; display: -webkit-box; text-overflow:ellipsis; -webkit-line-clamp:6; -webkit-box-orient: vertical;}
        .news .swiper-slide .text2 a{position: absolute; bottom: 5%; color: #44a8f2; padding-right: 18px; }
        .news .swiper-slide .text2 a::after{content: " "; position: absolute; height: 100%; width: 10px; right: 0; top: 0; background:url('../images/icon_all.png') -400px -76px no-repeat ;}
        .video section {height: 600px;}


        .marginTop .home .news .swiper-button-prev::after {

                font-size: 30px !important;

        }
        .marginTop .home .news .swiper-button-next {
            right: 15%;
             &::after {
                font-size: 30px !important;
            }
        }
    }
}